<p id="notice"><%= notice %></p>

<h1>Approaches</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @approaches.each do |approach| %>
      <tr>
        <td><%= approach.text %></td>
        <td><%= link_to 'Show', approach %></td>
        <td><%= link_to 'Edit', edit_approach_path(approach) %></td>
        <td><%= link_to 'Destroy', approach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Approach', new_approach_path %>
